
    <div class="info-group-color search-section">
        <form
             (ngSubmit)="search()">
        <div class="row gx-0">
            <div class="col-md-3 col-sm-6 col-12 my-4 text-center">
                <input [(ngModel)]="source" type="text" name="source"list="sourceName" placeholder="source" >
                <datalist id="sourceName" >
                    <option *ngFor="let source of sources" value="{{source.id}}">{{source.name}}</option>
                </datalist>
            </div>

            <div class="col-md-3 col-sm-6 col-12 my-4 text-center">
                <input [(ngModel)]="country" type="text" name="country" list="countryName" placeholder="country">
                <datalist id="countryName">

                    <option value="ae">ae</option>
                    <option value="ar">ar</option>
                    <option value="at">at</option>
                    <option value="au">au</option>
                    <option value="be">be</option>
                    <option value="bg">bg</option>
                    <option value="br">br</option>
                    <option value="ca">ca</option>
                    <option value="ch">ch</option>
                    <option value="cn">cn</option>
                    <option value="co">co</option>
                    <option value="cu">cu</option>
                    <option value="cz">cz</option>
                    <option value="de">de</option>
                    <option value="eg">eg</option>
                    <option value="fr">fr</option>
                    <option value="gb">gb</option>
                    <option value="gr">gr</option>
                    <option value="hk">hk</option>
                    <option value="hu">hu</option>
                    <option value="id">id</option>
                    <option value="ie">ie</option>
                    <option value="il">il</option>
                    <option value="in">in</option>
                    <option value="it">it</option>
                    <option value="jp">jp</option>
                    <option value="kr">kr</option>
                    <option value="lv">lv</option>
                    <option value="ma">ma</option>
                    <option value="lt">lt</option>
                    <option value="mx">mx</option>
                    <option value="my">my</option>
                    <option value="ng">ng</option>
                    <option value="nl">nl</option>
                    <option value="no">no</option>
                    <option value="nz">nz</option>
                    <option value="ph">ph</option>
                    <option value="pl">pl</option>
                    <option value="pt">pt</option>
                    <option value="ro">ro</option>
                    <option value="rs">rs</option>
                    <option value="ru">ru</option>
                    <option value="sa">sa</option>
                    <option value="se">se</option>
                    <option value="sg">sg</option>
                    <option value="si">si</option>
                    <option value="sk">sk</option>
                    <option value="th">th</option>
                    <option value="tr">tr</option>
                    <option value="tw">tw</option>
                    <option value="ua">ua</option>
                    <option value="us">us</option>
                    <option value="ve">ve</option>
                    <option value="za">za</option>
                </datalist>
            </div>
            <div class="col-md-3 col-sm-6 col-12 my-4 text-center">
                <input [(ngModel)]="category" type="text" name="category" list="categoryName" placeholder="category">
                <datalist id="categoryName">
                    <option value="sports">sports</option>
                    <option value="business">business</option>
                    <option value="science">science</option>
                    <option value="technology">technology</option>
                    <option value="health">health</option>
                    <option value="general">general</option>
                    <option value="entertainment">entertainment</option>
                </datalist>
            </div>
            <div class="col-md-3 col-sm-6 col-12 my-4 text-center">
                <input [(ngModel)]="title" type="text" name="title" placeholder="title">

            </div>



        </div>


        <div class="row gx-0">

            <div class="col-sm-6 col-12">
              <mat-form-field class="row gx-0">
                  <mat-label>Enter a date range</mat-label>
                  <mat-date-range-input [formGroup]="chosenDateTime" [rangePicker]="picker">
                      <input matStartDate  placeholder="Start date" formControlName="start">
                      <input matEndDate  placeholder="End date" formControlName="end">
                  </mat-date-range-input>
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>
            </div>

            <div class="right-buttons col-sm-6 col-12">
                <button class="button navbar-color" type="reset" (click)="resetArticles()">RESET</button>
                <button class="button navbar-color" type="submit">SEARCH</button>
            </div>
        </div>
    </form>


    </div>
