input{
    border-radius: 10px;
    

}
.myContainer{
    height: auto;
    
}


mat-form-field {
    margin-top: 0.5%;
    width: fit-content;
}


button{
    background-color: rgb(22, 22, 147);
    width: 100%;
    
    display: inline-block;
    margin-right: 5%;
    color: white;
}
.right-buttons{
    width: 20%;
    margin-right: 1%;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    height: 40%;
}

.bottom-row{
    margin-bottom: 0%;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}
.dd{
    float: right;
}

@media only screen and (max-width: 650px) {
    .bottom-row{
        display:block;
        
    }
    .right-buttons{
        width: 100%;
    }
    button{
        margin-bottom: 2%;
        margin-left: 2%;
        margin-right: 2%;
    }
}

