<section class="article other-color pb-3" *ngIf="hasLoaded">
  <div class="row my-4">
    <div class="col-10 text-left title-color"><h1>{{this.article.title}}</h1></div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="col-12 my-2">source: <a [href]="this.article.url" target="_blank">{{this.article.url}}</a></div>
    </div>
    <div class="col-4"></div>
  </div>

  <div class="row my-3">
    <div class="col-11">{{this.article.description}} </div>
  </div>

  <div class="row my-3 info-group-color pb-3 text-center">

    <div class="col-md-4 col-sm-6 col-12 my-2">
      <div class="row">
        <div class="col-12 my-3 title-info">
            Author
        </div>
        <div class="col-12">
  
          <div class="row">
            <div class="col-12">{{this.article.author}}</div>
          </div>
        </div>
      </div>
    </div>
    

    <div class="col-md-4 col-sm-6 col-12 my-2">
      <div class="row">
        <div class="col-12 my-3 title-info">Published At</div>
        <div class="col-12">
          {{this.article.publishedAt | date: 'dd/MM/yyyy HH:mm'}}
        </div>
      </div>
      </div>


    <div class="col-md-4 col-sm-6 col-12 my-2">
      <div class="row">
        <div class="col-12 my-3 title-info">Source</div>
        <div class="col-12">
          {{this.source}}
        </div>
      </div>
      </div>

  </div>
  <div class="row my-3">
    <div class="col-12"><img class="cover-image" [src]="this.article.urlToImage" alt="putko"></div>
  </div>
  <div class="row my-4">
    <div class="col-12">{{this.article.content}} </div>
  </div>
</section>
